<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- 
        Archivo de configuración de despliegue al server java EE
    -->

    <!-- Archivo de bienvenida -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
      <session-timeout>9</session-timeout>
      <!-- El tiempo se cuenta en minutos! -->
    </session-config>
</web-app>